@{
    ViewBag.Title = "Sistema Empresarial";
}

@*<h1 class="main-title">@ViewBag.Title</h1>
<div class="container-fluid">
    <p>Sistema Empresarial de la carrera de Ingenier</p>
</div>*@
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Sistema Empresarial, desarrollo de la materia Construccion de Software del 5to Quimestre.</p>
    <p><a href="https://pregradovirtual.unemi.edu.ec/course/view.php?id=2648"  target="_blank" class="btn btn-primary btn-lg">Ver Materia! &raquo;</a></p>
</div>
