
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutContabilidad.cshtml";
}

<h2>Modulo de Contabilidad</h2>
<div class="btn-rows">
    <a href="/CNTBPLANDECUENTA" class="btn conta one">Plan De Cuentas</a>
    <a href="/CNTBREGCABECERACONT" class="btn conta two">Cabeceras Contables</a>
    <a href="/CNTBREGDETALLECONTs" class="btn conta three">Detalles Contables</a>
    <a href="/CNTBSALDOCONTABLE" class="btn conta four">Saldos Contables</a>
    <a href="/AUDCNTBCABC" class="btn conta five">Auditorias Cabecera</a>
    <a href="/AUDCNTBDETC" class="btn conta six">Auditorias Detalle</a>
</div>
